@if(!name && !price){
<div class="text-center mt-4">No success order found</div>
}@else {
<div class="mt-4 m-auto w-fit">
  <h1 class="mb-3 text-4xl text-green-500">Thank you for your order🎉</h1>

  <div>
    Dear Mr/Mrs <span class="font-semibold">{{ name }}</span>
    <div>
      Your <span class="font-semibold">${{ price }}</span> Order are confirmed!
    </div>

    <div>Please allow 1-3 business day(s) for shipping.</div>

    <div>Time: {{ currentTime | date : "h:mm:ss a dd/MM/YYYY" }}</div>
  </div>
</div>
}
